@model IEnumerable<TiTSproj.Models.Kategoria>
@using TiTSproj.Infrastructure
<nav class="KategorieVertical">
    <ul>
        @foreach (var kategoria in Model)
        {
            <li>
                <a href="@Url.Action("Lista","Produkty", new { nazwaKategorii = kategoria.NazwaKategorii.ToString() })"
                   style="background-image: url(@Url.KategorieIkonySciezka(kategoria.NazwaPlikuIkony)); ">
                    @kategoria.NazwaKategorii
                </a>
            </li>
        }
    </ul>
</nav>
