
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kontakt</h2>

<div>
    <p>Dagmara Łęczycka:
        <a href="mailto:dagmlec668@student.polsl.pl">dagmlec668@student.polsl.pl</a>
    </p>
    <p>Julia Matlak:
        <a href="mailto:julimat713@student.polsl.pl">julimat713@student.polsl.pl</a>
    </p>
</div>
