
@{
    ViewBag.Title = "O nas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>O nas</h2>

<div>
    Aplikacja sklepu odzieżowego stworzona na potrzeby zaliczenia projektu z przedmiotu Telemedycyna i Technologie Sieciowe.
    <p>Wszystkie grafiki pochodzą z Internetu.</p>
</div>
