
@{
    ViewBag.Title = "Pomoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pomoc</h2>

<div>
    Nie znalazłeś tego czego szukasz? Wejdź w zakładkę kontakt, a tam dostępne są adresy e-mail, pod którymi kryją się osoby chętne Ci pomóc. Śmiało, napisz do nas!
</div>