
@{
    ViewBag.Title = "Regulamin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Regulamin</h2>

<div>
    <ul>
        <li>
            Sprzedawca w najszerszym dopuszczalnym przez prawo zakresie nie ponosi
            odpowiedzialności za zakłócenia w tym przerwy w funkcjonowaniu Sklepu
            spowodowane siłą wyższą, niedozwolonym działaniem osób trzecich lub
            niekompatybilnością Sklepu internetowego z infrastrukturą techniczną Klienta.
        </li>
        <li>
            Przeglądanie asortymentu Sklepu nie wymaga zakładania Konta. Składanie
            zamówień przez Klienta na Produkty znajdujące się w asortymencie Sklepu możliwe
            jest albo po założeniu Konta.
        </li>
        <li>
            Ceny podane w Sklepie są podane w polskich złotych i są cenami brutto.
        </li>
        <li>
            Aby założyć Konto w Sklepie, należy wypełnić Formularz rejestracji. Założenie konta jest darmowe.
        </li>
        <li>
            Zawarcie Umowy Sprzedaży między Klientem a Sprzedawcą następuje po
            uprzednim złożeniu przez Klienta Zamówienia za pomocą Formularza zamówienia w
            Sklepie internetowym.
        </li>
    </ul>
   
</div>
